<!-- Importando partials com EJS -->
<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <div class="card">
      <div class="card-header">
        <h2>Edição de Artigo</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/articles/update" onsubmit="btnSubmit()">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Defina o titulo da categoria"
            value="<%= article.title %>"
            required
          />
          <textarea
            name="body"
            placeholder="Escreva o artigo aqui"
            id="article"
            cols="30"
            rows="10"
            class="form-control"
          >
<%= article.body %></textarea
          >
          <br />
          <select disabled name="category" class="form-control">
            <option value="<%= article.category.id %>">
              <%= article.category.title %>
            </option>
          </select>
          <input type="hidden" name="id" value="<%= article.id %> " />
          <br />
          <a href="/admin/articles" class="btn btn-primary">Voltar</a>
          <button class="btn btn-success">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: "pt_BR",
    selector: "#article",
    plugins: [
      "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons",
    ],
  });
</script>
