<!-- Importando partials com EJS -->
<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <div class="card">
      <div class="card-header">
        <h2>Edição de Categoria</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/categories/update" onsubmit="btnSubmit()">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Defina o titulo da categoria"
            value="<%= categorie.title %>"
            required
          />
          <input type="hidden" name="id" value="<%= categorie.id %> " />
          <br />
          <a href="/admin/categories" class="btn btn-primary">Voltar</a>
          <button class="btn btn-success">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
