<!-- Importando partials com EJS -->
<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Categorias</h2>
    <hr />
    <a href="/admin/categories/new" class="btn btn-success">Cadastrar</a>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Slug</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(element => { %>
        <tr>
          <th><%= element.id %></th>
          <th><%= element.title %></th>
          <th><%= element.slug %></th>
          <th>
            <a
              href="/admin/categories/edit/<%= element.id %>"
              class="btn btn-warning"
              >Editar</a
            >

            <form
              method="POST"
              action="/categories/delete"
              style="display: inline"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= element.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </th>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<script>
  //Confirmação antes de deletar a categoria
  function confirmarDelecao(event, form) {
    event.preventDefault();
    let decision = confirm("Deseja deletar esta categoria?");
    decision ? form.submit() : null;
  }
</script>
<%- include('../../partials/footer.ejs') %>
